[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"

[packages]
requests = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
django-rest-auth = "*"
djangorestframework-jwt = "*"
Django = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
