[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"

[packages]
requests = "*"
django = "*"
djangorestframework = "*"
drf-nested-routers = "*"
